deal-list {
min-width: 332px;
border: 1px solid #aaaaaa;
display: inline-block;
margin: 0 10px;
padding: 10px;
}
deal-list.my-joined-deals {
background-color: #f9f9f9;
}
deal-list.my-watching-deals {
background-color: #f0f0f0;
}